[submodule "client/client/src"]
	path = client/client/src
	url = https://github.com/HefnySco/de_common
[submodule "client/src/de_common"]
	path = client/src/de_common
	url = https://github.com/HefnySco/de_common
